:host {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  button {
    width: 100px;
  }

  .parameters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  :host {
    .parameters-grid {
      grid-template-columns: repeat(auto-fill, 130px);
    }
  }
}
