<app-container-layout style="gap: 0px">
  <div class="section">
    <div class="header">
      <div class="title">
        <h3>{{sectionTitle()}}</h3>
      </div>
      <div class="collapse-icon" (click)="toggleCollapse()">
        @if (isCollapsed()) {
          <mat-icon class="" aria-hidden="false" matListItemIcon fontSet="material-symbols-outlined">keyboard_arrow_down</mat-icon>
        } @else {
          <mat-icon class="" aria-hidden="false" matListItemIcon fontSet="material-symbols-outlined">keyboard_arrow_up</mat-icon>
        }
      </div>
    </div>
    @if (!isCollapsed()) {
      @if (description()){
        <p class="text-1"><i>{{description()}}</i></p>
      }
      <div @expandNestedMenu class="content">
        <ng-content></ng-content>
      </div>
    }
  </div>
</app-container-layout>
