:host {
  .section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .collapse-icon {
        cursor: pointer;
      }
    }

    .content {
      overflow: hidden;
      padding: 0 8px;
    }
  }
}
