:host {
  display: flex;
  flex-direction: column;
  gap: 24px;
  mat-form-field {
    width: 30%;
  }

  .table-container {
    overflow-x: auto;
    position: relative;

    .fixed {
      position: sticky;
      right: 0;
      padding-right: 10px;
      width: 120px;
    }

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 10px;
      border: 2px solid #f1f1f1;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    mat-form-field {
      width: 100%;
    }
  }
}
