@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  gap: 24px;
  mat-form-field {
    width: 30%;
  }

  .table-container {
    overflow-x: auto;
    position: relative;

    .fixed {
      position: sticky;
      right: 0;
      padding-right: 10px;
      width: 120px;
    }
  }

  mat-icon {
    cursor: pointer;
  }

  .mat-mdc-row:hover {
    background-color: rgba(219, 237, 255, 0.1);
    @include mat.elevation(4);
  }

}

@media screen and (max-width: 768px) {
  :host {
    mat-form-field {
      width: 100%;
    }
  }
}
