@if (isDate()) {
  <p class="text-1 calendar-text">{{ currentDate | date: 'EEEE, d MMMM' | titlecase }}</p>
  <span class="hover-icon" [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" matListItemIcon fontSet="material-symbols-outlined">
      calendar_month
    </mat-icon>
  </span>
  <mat-menu #menu="matMenu" class="calendar-mat-menu">
    <button mat-menu-item (click)="$event.stopPropagation()">
      <mat-calendar></mat-calendar>
    </button>
  </mat-menu>
} @else {
  <p class="text-1">Witaj, <span class="subtitle-1">{{ name() }}</span></p>
  <span class="hover-icon">
    <mat-icon class="hover-icon" aria-hidden="false" matListItemIcon fontSet="material-symbols-outlined">notifications</mat-icon>
  </span>
}
