@if (friendship().status === 'ACCEPTED') {
  <div class="actions-button" [matMenuTriggerFor]="menu">
    <mat-icon class="primary-blue" aria-hidden="false" matListItemIcon fontSet="material-symbols-outlined">more_vert</mat-icon>
  </div>
  <mat-menu #menu="matMenu">
    <button *ngIf="!isDoctor()" mat-menu-item (click)="editPermissions()"><p class="primary-blue">Edytuj uprawnienia</p></button>
    <button mat-menu-item (click)="cancel()"><p class="red">Usuń</p></button>
  </mat-menu>
}
<div class="image">
  <img [src]="'data:image/jpeg;base64 ,' + friendship().user.pictureUrl" alt="user">
</div>
<h3 #name [matTooltip]="friendship().user.firstName + ' ' + friendship().user.lastName" [matTooltipDisabled]="isOverflow(name)">
  <span *ngIf="!isDoctor()">lek. </span> {{ friendship().user.firstName + ' ' + friendship().user.lastName }}
</h3>
@if (friendship().status !== 'ACCEPTED') {
  @if (isDoctor()) {
    <div class="buttons">
      <button mat-button (click)="approve()"><p>Zaakceptuj</p></button>
      <button mat-button (click)="reject()"><p class="red">Odrzuć</p></button>
    </div>
  } @else {
    <div class="buttons">
      <button *ngIf="isRejected()" mat-button color="primary" (click)="resend()"><p>Wyślij ponownie</p></button>
      <button mat-button color="warn" (click)="cancel()"><p class="red">Usuń</p></button>
    </div>
  }
} @else {
  <div class="permissions">
    <p><span class="subtitle-1">Dostęp do historii parametrów: </span>{{ friendship().permissions.parametersAccess ? 'Tak' : 'Nie' }}</p>
    <p><span class="subtitle-1">Dostęp do apteczki leków: </span>{{ friendship().permissions.userMedicineAccess ? 'Tak' : 'Nie' }}</p>
    <p><span class="subtitle-1">Dostęp do aktywności: </span>{{ friendship().permissions.activitiesAccess ? 'Tak' : 'Nie' }}</p>
  </div>
}
