<div class="content">
  <form [formGroup]="passwordChangeForm" class="form">
    @if (formErrors().overall) {
      <mat-error>{{ formErrors().overall }}</mat-error>
    }
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Aktualne hasło</mat-label>
      <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword" placeholder="Aktualne hasło" (blur)="updateErrorMessage('currentPassword', 'hasło')" [appForbiddenRegex]="'password'">
      <button type="button" mat-icon-button (click)="toogleHideCurrent()" matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (passwordChangeForm.controls.currentPassword.invalid) {
        <mat-error>{{ formErrors().currentPassword }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nowe hasło</mat-label>
      <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" placeholder="Nowe hasło" (blur)="updateErrorMessage('newPassword', 'hasło')" [appForbiddenRegex]="'password'">
      <button type="button" mat-icon-button matSuffix (click)="toogleHideNew()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (passwordChangeForm.controls.newPassword.invalid) {
        <mat-error>{{ formErrors().newPassword }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Potwórz nowe hasło</mat-label>
      <input matInput [type]="hideNewPasswordConfirmation ? 'password' : 'text'" formControlName="newPasswordConfirmation" placeholder="Potwórz nowe hasło" (blur)="updateErrorMessage('newPasswordConfirmation', 'powtórz hasło')" [appRepeatPassword]="'newPassword'">
      <button type="button" mat-icon-button matSuffix (click)="toggleHideNewConfirmation()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPasswordConfirmation">
        <mat-icon>{{hideNewPasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (passwordChangeForm.controls.newPasswordConfirmation.invalid) {
        <mat-error>{{ formErrors().newPasswordConfirmation }}</mat-error>
      }
    </mat-form-field>
  </form>
  <div>
    <button mat-flat-button [disabled]="!passwordChangeForm.valid" (click)="changePassword()">Zmień hasło</button>
  </div>
</div>
