.text-1, p {
  font-size: 1rem; // 16px
  font-style: normal;
  line-height: 1.25rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
}

.text-2 {
  font-size: 1.25rem; // 20px
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
}

.text-3 {
  font-size: 1.5rem; // 24px
  font-style: normal;
  line-height: 1.75rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
}

.text-4 {
  font-size: 2.25rem; // 36px
  font-style: normal;
  line-height: 2.5rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
}

.subtitle-1 {
  font-size: 1rem;
  font-style: normal;
  line-height: 1.25rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.subtitle-2 {
  font-size: 1.25rem;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.subtitle-3 {
  font-size: 1.375rem;
  font-style: normal;
  line-height: 1.625rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.subtitle-4 {
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.75rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.headline-1, h1 {
  font-size: 2.875rem; // 46px
  font-style: normal;
  line-height: 3.5rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.headline-2, h2 {
  font-size: 2.25rem; // 36px
  font-style: normal;
  line-height: 2.875rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.headline-3, h3 {
  font-size: 1.5rem; // 24px
  font-style: normal;
  line-height: 2.125rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.headline-4, h4 {
  font-size: 1.25rem; // 20px
  font-style: normal;
  line-height: 1.875rem;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.primary-blue {
  color: #1469C0;
}

.secondary-blue {
  color: #3F51B5;
}

.blue-dark {
  color: #003E7D;
}

.green {
  color: #4BB543;
}

.yellow {
  color: #FFCC00;
}

.red {
  color: #F44336;
}

.white {
  color: #FFFFFF;
}

.black {
  color: #000000;
}

.gray-light {
  color: #e7ecef;
}

.gray-dark {
  color: #6c757d;
}
