$primary-blue: #1469C0;
$secondary-blue: #3F51B5;

$blue-dark: #003E7D;
$green: #4BB543;
$yellow: #EED202;
$red: #F44336;

$white: #FFFFFF;
$black: #000000;

$gray-light: #e7ecef;
$gray-dark: #6c757d;
