:host {
  .custom-snackbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;

    .description {
      font-size: 14px;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        font-size: 16px;
        font-weight: 500;
      }

      img {
          cursor: pointer;
          width: 24px;
          height: 24px;
      }
    }
  }
}
