:host {
  .no-parameter-selected, .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .parameters-chart-filter-container {
    display: flex;
    gap: 16px;
    align-items: baseline;
    justify-content: flex-start;

    mat-form-field {
      width: 300px;
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    .parameters-chart-filter-container {
      flex-direction: column;

      mat-form-field {
        width: 100%;
      }
    }
  }
}
