<app-section-layout sectionTitle="Priorytet">
  <mat-form-field appearance="outline">
    <mat-label>Priorytet</mat-label>
    <mat-select [(ngModel)]="data().priority" (ngModelChange)="dataChange.emit(data())">
      <mat-option value="LOW">Niski</mat-option>
      <mat-option value="HIGH">Wysoki</mat-option>
    </mat-select>
  </mat-form-field>
</app-section-layout>

<app-section-layout sectionTitle="Dawkowanie">
  <div class="section-container">
    <div class="grid">
      @for (day of days; track day) {
        <app-day-tail [isChecked]="data().days.includes(day)" (toggleClick)="toggleDay($event, day)" [day]="day"></app-day-tail>
      }
    </div>

    <div class="dose-container">
      <p class="subtitle-1" style="min-width: 150px;">Wielkość dawki [{{ selectedDrug().unit }}]:</p>
      <mat-form-field appearance="outline">
        <mat-label>Dawka</mat-label>
        <input matInput type="number" min="1" step="1" appOnlyNumbers [(ngModel)]="data().doseSize" [placeholder]="selectedDrug().unit" (ngModelChange)="dataChange.emit(data())">
      </mat-form-field>
    </div>

    <div *ngFor="let time of data().times; let i = index" class="dose-time-container" [@animateExpand]>
      <p class="subtitle-1" style="min-width: 150px;">Godzina {{ i + 1 }} przyjęcia:</p>
      <div class="dose-time-content">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Godzina</mat-label>
            <mat-select [(ngModel)]="time.hours" (ngModelChange)="updateTime(i)">
              <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Minuta</mat-label>
            <mat-select [(ngModel)]="time.minutes" (ngModelChange)="updateTime(i)">
              <mat-option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        @if (i === 0 && data().times.length < 5) {
          <button mat-button (click)="addTime()"><p>Dodaj godzinę</p></button>
        } @else {
          <button *ngIf="i > 0" mat-button (click)="removeTime(i)" class="remove-text-btn"><p>Usuń</p></button>
        }
      </div>
    </div>
  </div>
</app-section-layout>

<app-section-layout
  sectionTitle="Okres zażywania leku"
  description='Zakres "do" może pozostać pusty - planowane ciągle przyjmowanie leku'
>
  <mat-form-field appearance="outline">
    <mat-label>Od - do</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="data().dates.from" placeholder="Od" (ngModelChange)="dataChange.emit(data())">
      <input matEndDate [(ngModel)]="data().dates.to" placeholder="Do" (ngModelChange)="dataChange.emit(data())">
    </mat-date-range-input>
    <mat-hint>DD/MM/RRRR - DD/MM/RRRR</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</app-section-layout>

<app-section-layout sectionTitle="Śledzenie zapasów">
  <div class="stock-track-container">
    <div class="toggle-button">
      <mat-slide-toggle [(ngModel)]="isTrackStock" (ngModelChange)="setAmount()">{{ isTrackStock() ? 'Tak' : 'Nie' }}</mat-slide-toggle>
      @if (isTrackStock()) {
        <button mat-button (click)="editStock()"><p class="text-1">Edytuj zapas</p></button>
      }
    </div>
    @if (isTrackStock()) {
      <div class="track-size">
        <p class="subtitle-1">Zapas:</p>
        <p class="text-1">{{ data().amount }} [{{ selectedDrug().unit }}]</p>
      </div>
    }
  </div>
</app-section-layout>
<app-section-layout sectionTitle="" *ngIf="!isDialog()">
  <div class="buttons-container">
    <button mat-button (click)="cancel()">Anuluj</button>
    <button mat-flat-button (click)="save()" [disabled]="!checkValidity()">Zapisz</button>
  </div>
</app-section-layout>
