:host {
  display: flex;
  flex-direction: column;

  .doctors-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
  }

  .no-results {
    width: 100%;

    p {
      text-align: center;
    }
  }
}