<app-tabs [test]="parametersChange">
  <app-tab headerTitle="Profil" [padding]="tabPadding">
    <app-settings-user-profile [userProfileData]="userData$ | async"></app-settings-user-profile>
  </app-tab>
  <app-tab headerTitle="Zmiana hasła" [padding]="tabPadding">
    <app-password-change-dialog></app-password-change-dialog>
  </app-tab>
  <app-tab headerTitle="Zarządzanie powiadomieniami" *ngIf="role === 'USER'" [padding]="tabPadding">
    <app-notifications-manage [notificationsSettings]="notificationsSettings$ | async"></app-notifications-manage>
  </app-tab>
  <app-tab headerTitle="Zarządzanie parametrami" *ngIf="role === 'USER'" [padding]="tabPadding">
    <app-parameters-manage [userParameters]="userParamters$ | async" [parameters]="paramters$ | async"></app-parameters-manage>
  </app-tab>
  <app-tab headerTitle="Zmiana zdjęcia profilowego" *ngIf="role === 'DOCTOR'" [padding]="tabPadding">
    <p>Zmiana zdjęcia profilowego</p>
  </app-tab>
</app-tabs>
