<h3 mat-dialog-title>Edycja parametru</h3>
<mat-dialog-content class="mat-typography">
  <div class="content">
    <mat-form-field appearance="outline">
      <mat-label>{{ userParam.parameter.name }}</mat-label>
      <input matInput type="number" min="0" [placeholder]="userParam.parameter.name" [(ngModel)]="userParam.value">
      <mat-hint>{{ userParam.parameter.hint }}</mat-hint>
      @if (userParam.value && userParam.value < 0) {
        <mat-error>Wartość nie może być ujemna</mat-error>
      }
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Anuluj</button>
  <button mat-flat-button [mat-dialog-close]="userParam" [disabled]="!isValid()">Zapisz</button>
</mat-dialog-actions>
