<div class="main-container">
  @if (isLoading$ | async) {
    <div class="basic-spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    @if (doctors$ | async; as doctors) {
      <div class="grid">
        @for (doctor of doctors; track doctor.id) {
          <app-doctor-approval-card [doctor]="doctor" (emitApprove)="onApprove($event)" (emiReject)="onReject($event)"></app-doctor-approval-card>
        }
      </div>
    } @else {
      <div class="no-data">
        <p class="subtitle-2">Brak lekarzy do akceptacji.</p>
      </div>
    }
  }

  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="pagination.totalElements"
    [pageSize]="pagination.pageSize"
    [pageSizeOptions]="pagination.pageSizeOptions"
    [pageIndex]="pagination.pageIndex"
    aria-label="Select page"
  ></mat-paginator>
</div>
