:host {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;

    .main-form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 2rem;
      gap: 2rem;

      .heading {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 48px;

        app-back-button {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        gap: 1rem;

        .controls {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 1rem;
        }

        .submit-container {
          width: 100%;
          text-align: right;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          gap: 0.5rem;

          p {
            cursor: pointer;
          }
        }

        mat-form-field, .submit-button {
          width: 100%;
        }
      }

      .no-account-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.2rem;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.2rem;
        }

        .register {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  :host {
    .container {
      width: 90%;

      .main-form-container {
        .form {
          width: 60%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    .container {
      width: 90%;

      .main-form-container {
        .heading {
          width: 100%;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          gap: 1rem;
          text-align: justify;
          height: auto;

          app-back-button {
            position: relative;
          }

          p {
            font-size: 2rem;
          }
        }

        .form {
          width: 100%;
        }

        .no-account-container {
          width: 80%;
        }
      }
    }
  }
}
