:host {
  .info {
    width: 50%;
  }
}

@media screen and (max-width: 1280px) {
  :host {
    .info {
      width: 60%;
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    .info {
      width: 100%;
    }
  }

}
