<div class="container">
  <app-unlogged-header [isAuth]="true"></app-unlogged-header>
  <div class="main-form-container">
    <div class="heading">
      <app-back-button (click)="redirectTo('')"></app-back-button>
      <p class="text-4">Załóż bezpłatne konto</p>
    </div>
    <p class="info"><i>Uwaga: Po założeniu <b>konta lekarza</b> wymagane będą dokumenty oraz informacje potwierdzające posiadanie uprawnień lekarskich.</i></p>
    <form [formGroup]="registerForm" class="form">
      @if (formErrors().overall) {
        <mat-error>{{ formErrors().overall }}</mat-error>
      }
      <div class="controls">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Email" (blur)="updateErrorMessage('email', 'email')">
          @if (registerForm.controls.email.invalid) {
            <mat-error>{{ formErrors().email }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Hasło</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Hasło" (blur)="updateErrorMessage('password', 'hasło')" [appForbiddenRegex]="'password'">
          <button type="button" mat-icon-button matSuffix (click)="toogleHide()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (registerForm.controls.password.invalid) {
            <mat-error>{{ formErrors().password }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Potwórz hasło</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" placeholder="Hasło" (blur)="updateErrorMessage('confirmPassword', 'powtórz hasło')" [appRepeatPassword]="'password'">
          <button type="button" mat-icon-button matSuffix (click)="toogleHideConfirm()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (registerForm.controls.confirmPassword.invalid) {
            <mat-error>{{ formErrors().confirmPassword }}</mat-error>
          }
        </mat-form-field>
        <mat-checkbox formControlName="isDoctor">Załóz konto lekarza</mat-checkbox>
      </div>
      <div class="submit-container">
        <button mat-flat-button class="submit-button" (click)="register()">Zarejestruj</button>
      </div>
    </form>
    <div class="no-account-container">
      <app-divider width="100%"></app-divider>
        <span>Posiadasz konto? <button mat-button (click)="redirectTo('login')">Zaloguj się</button></span>
      <app-divider width="100%"></app-divider>
    </div>
  </div>
</div>
