<h3 mat-dialog-title>Edytuj - {{ data.profilParameter }}</h3>
<mat-dialog-content class="mat-typography">
  <div class="content">
    @if (data.profilParameter === 'phoneNumber') {
      <mat-form-field appearance="outline">
        <mat-label>{{ data.profilParameter }}</mat-label>
        <input type="text" matInput [(ngModel)]="currValue" />
        <mat-hint>Format: (+00)123456789</mat-hint>
      </mat-form-field>
    } @else if (data.profilParameter === 'sex') {
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="currValue">
          <mat-option value="MAN">Mężczyzna</mat-option>
          <mat-option value="WOMAN">Kobieta</mat-option>
          <mat-option value="NO_ANSWER">Nie chce podawać</mat-option>
        </mat-select>
      </mat-form-field>
    } @else if (data.profilParameter === 'birthDate') {
      <mat-form-field appearance="outline">
        <mat-label>{{ data.profilParameter }}</mat-label>
        <input [matDatepicker]="picker" matInput [(ngModel)]="currValue" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    }
    @else if (isString()) {
      <mat-form-field appearance="outline">
        <mat-label>{{ data.profilParameter }}</mat-label>
        <input type="text" matInput [(ngModel)]="currValue" />
      </mat-form-field>
    } @else {
      <mat-form-field appearance="outline">
        <mat-label>{{ data.profilParameter }}</mat-label>
        <input type="number" min="0" max="999" matInput [(ngModel)]="currValue" />
      </mat-form-field>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Anuluj</button>
  <div>
    <button mat-flat-button [mat-dialog-close]="getValue()" [disabled]="!isValid()">Zapisz</button>
  </div>
</mat-dialog-actions>
