@use '@angular/material' as mat;

:host {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 550px;
  height: 235px;
  padding: 40px;

  .photo-button {
    @include mat.elevation(3);
    border-radius: 5px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      border-radius: 5%;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;

    img {
      width: 300px;
      height: 190px;
      object-fit: cover;
    }

    .profile {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1024px) {
  :host {
    height: auto;
    flex-direction: column;
  }
}
