:host {
  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 32px;
      width: 450px;
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    .content {
      form {
        width: 100%;
      }
    }
  }
}
