:host {
  .no-drug-selected, .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .drugs-chart-filter-container {
    display: flex;
    gap: 16px;
    align-items: baseline;
    justify-content: flex-start;

    mat-form-field {
      width: 300px;
    }
  }
}