$primary-blue: #1469c0;
$secondary-blue: #3f51b5;

$blue-dark: #003e7d;
$green: #4bb543;
$yellow: #eed202;
$red: #f44336;

$white: #ffffff;
$black: #000000;

$gray-light: #e7ecef;
$gray-dark: #6c757d;
