:host {
  .container {
    display: flex;
    flex-direction: column;
    gap: 36px;

    .overall-statistics {
      mat-form-field {
        width: 300px;
      }
    }

    .chart {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    .container {
      .overall-statistics {
        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
