:host {
  position: relative;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 12px;
  }

  .filters {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;

    .search-fields {
      display: flex;
      gap: 8px;
      width: 50%;
    }

    mat-form-field {
      width: 50%;
    }

    .sorting {
      max-width: 48%;

      mat-form-field {
        width: auto;
        min-width: 275px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    .filters {
      flex-direction: column;

      .search-fields {
        width: 100%;
      }

      .sorting {
        max-width: 100%;

        mat-form-field {
          width: 100%;
          min-width: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  :host {
    .filters {
      .search-fields {
        flex-direction: column;
        gap: 0;
      }

      mat-form-field {
        width: 100%;
      }
    }
  }

}
