<div class="main-container">
  <div class="top-button-container">
    <button mat-button><p class="text-2">Dodaj lek</p></button>
  </div>
  <app-container-layout>
    <app-section-layout sectionTitle="Moje leki">
      <div>
        <app-table
          [data]="tableData"
          [columns]="userDrugsDisplayedColumns"
          [pagination]="pagination"
          [isSearching]="isSearching$ | async"
          type="editable"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
          (pageChange)="handlePageEvent($event)"
        />
      </div>
    </app-section-layout>
  </app-container-layout>

  <app-container-layout>
    <app-section-layout sectionTitle="Leki na dziś">

    </app-section-layout>
  </app-container-layout>
</div>
