:host {
  display: flex;
  flex-direction: column;

  .invitations-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
  }

  .no-results {
    width: 100%;
    padding-top: 36px;

    h3 {
      text-align: center;
    }
  }
}
