<div class="container">
  @if (conversation()) {
    <div class="top-bar">
      <div class="image">
        <img src="../../../../../assets/images/user.png" alt="profile-picture">
      </div>
      <h3>{{ conversation()?.user?.firstName }} {{ conversation()?.user?.lastName }}</h3>
    </div>
    @if (conversation()?.messages?.length === 0) {
      <div class="empty-container">
        <p class="subtitle-3">Brak wiadomości</p>
      </div>
    } @else {
      <div class="messages-container" #messagesContainer>
        <div *ngFor="let message of conversation()?.messages; let i = index">
          <div *ngIf="i === conversation()?.messages!.length - 1 || compareDates(message, conversation()?.messages?.[i + 1])" class="date-divider">
            <span>{{ message?.createdAt | date: 'dd MMMM yyyy HH:mm' }}</span>
          </div>

          <div class="message-container" [ngClass]="{ 'my-message': message?.senderId === chatUser().id}">
            @if (message?.senderId !== chatUser().id) {
              <div class="image">
                <img
                  src="../../../../../assets/images/user.png"
                  alt="profile-picture"
                  *ngIf="conversation()?.messages?.[i-1]?.senderId !== message?.senderId"
                >
              </div>
            }
            <div class="message" [matTooltip]="(message?.createdAt! | date: 'dd MMMM yyyy HH:mm')!" matTooltipPosition="above">
              <p>{{ message?.content }}</p>
            </div>
          </div>
        </div>
      </div>
    }
    <div class="send-message-container">
      <input type="text" [(ngModel)]="message" placeholder="Aa" (keydown.enter)="sendMessage()" />
      <button mat-icon-button (click)="sendMessage()">
        <mat-icon aria-hidden="false" matListItemIcon fontSet="material-symbols-outlined">send</mat-icon>
      </button>
    </div>
  } @else {
    <div class="select-conversation-container">
      <p class="subtitle-3">Cześć {{ chatUser().firstName }}, <br/>wybierz konwersację aby zacząć rozmowę</p>
    </div>
  }
</div>
