:host {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .data-container {
    display: flex;
    gap: 10px;

    .labels {
      display: flex;
      flex-direction: column;
      gap: 10px;

      div {
        display: flex;
        height: 40px;
        align-items: center;
      }
    }

    .values {
      display: flex;
      flex-direction: column;
      gap: 10px;

      div {
        display: flex;
        height: 40px;
        align-items: center;
      }
    }
  }

  button {
    width: 100px;
  }
}
