<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="'Raport - ' + ${firstName} + ' ' + ${lastName}"></title>
    <style>
        .header {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .banner {
            position: absolute;
            top: 0;
            right: 0;
            font-style: italic;
        }

        .primary-color {
            color: #1469C0;
        }

        .header > h1, h3 {
            margin: 0;
            padding: 0;
        }

        h4 {
            width: 100%;
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr,td {
            padding: 2px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="banner">
    <h3>Health<span class="primary-color">Rx</span></h3>
</div>
<div class="header">
    <h1 th:text="'Raport - ' + ${firstName} + ' ' + ${lastName}">Raport - Imię Nazwisko</h1>
    <h3 th:text="'Okres: ' + ${#strings.substring(from, 0, 10)} + ' - ' + ${#strings.substring(to, 0, 10)}">Okres: data od - data do</h3>
</div>

<div th:if="${userDrugs != null}">
    <h2>Zazywane leki</h2>
    <div th:if="${userDrugs.isEmpty()}">
        <h4>Brak danych do wyswietlenia</h4>
    </div>
    <table border="1" th:if="${not userDrugs.isEmpty()}">
        <tr>
            <th>Nazwa</th>
            <th>Moc</th>
            <th>Forma farmaceutyczna</th>
            <th>Dni przyjmowania</th>
            <th>Godziny przyjmowania</th>
            <th>Okres przyjmowania</th>
        </tr>
        <tr th:each="drug : ${userDrugs}">
            <td th:text="${drug.drug.name}"></td>
            <td th:text="${drug.drug.power}"></td>
            <td th:text="${drug.drug.pharmaceuticalFormName}"></td>
            <td>
                <span th:each="day : ${drug.doseDays}">
                    <span th:text="${T(com.healthrx.backend.api.internal.enums.Days).getTranslation(day)}"></span>
                </span>
            </td>
            <td th:text="${#strings.arrayJoin(drug.doseTimes, ', ')}"></td>
            <td th:text="${drug.startDate} + ' - ' + ${drug.endDate}"></td>
        </tr>
    </table>
</div>

<div th:if="${drugs != null}">
    <h2>Statystyki lekow</h2>
    <div th:if="${drugs.isEmpty()}">
        <h4>Brak danych do wyswietlenia</h4>
    </div>
    <table border="1" th:if="${not drugs.isEmpty()}">
        <tr>
            <th>Nazwa [moc]</th>
            <th>Forma farmaceutyczna</th>
            <th>Procent zazycia leku</th>
            <th>Pierwsze zazycie</th>
            <th>Ostatnie zazycie</th>
            <th>Pelne dni zazyte (czesciowo)</th>
            <th>Dni bez zazycia</th>
            <th>Dawki zazyte / niezazyte</th>
            <th>Punktualnosc [%]</th>
        </tr>
        <tr th:each="drug : ${drugs}">
            <td th:text="${drug.drug.name} + ' [' + ${drug.drug.power} + ']'"></td>
            <td th:text="${drug.drug.pharmaceuticalFormName}"></td>
            <td th:text="${#numbers.formatDecimal(drug.compliancePercentage, 1, 2)}"></td>
            <td th:text="${#strings.substring(drug.firstLogDate, 0, 10)}"></td>
            <td th:text="${#strings.substring(drug.lastLogDate, 0, 10)}"></td>
            <td th:text="${drug.totalDaysTaken} + ' (' + ${drug.totalDaysPartiallyTaken} + ')'"></td>
            <td th:text="${drug.totalDaysMissed}"></td>
            <td th:text="${drug.totalDosesTaken} + ' / ' + ${drug.totalDosesMissed}"></td>
            <td th:text="${#numbers.formatDecimal(drug.punctualityPercentage, 1, 2)}"></td>
        </tr>
    </table>
</div>

<div th:if="${parameters != null}">
    <h2>Statystyki parametrow</h2>
    <div th:if="${parameters.isEmpty()}">
        <h4>Brak danych do wyswietlenia</h4>
    </div>
    <table border="1" th:if="${not parameters.isEmpty()}">
        <tr>
            <th>Parametr [jednostka]</th>
            <th>Norma (od - do)</th>
            <th>Wartość (min / max / sr)</th>
            <th>Dni poza norma (ponizej/powyzej)</th>
            <th>Pierwszy pomiar</th>
            <th>Ostatni pomiar</th>
            <th>Dni bez pomiarów (najdluzsza przerwa)</th>
            <th>Liczba pomiarów</th>
            <th>Trend</th>
        </tr>
        <tr th:each="param : ${parameters}">
            <td th:text="${param.parameter.name} + ' [' + ${param.parameter.unit} + ']'"></td>
            <td th:text="${param.parameter.minValue} + ' / ' + ${param.parameter.maxValue}"></td>
            <td th:text="${param.minValue} + ' / ' + ${param.maxValue} + ' / ' + ${#numbers.formatDecimal(param.avgValue, 1, 2)}"></td>
            <td th:text="${param.daysBelowMinValue} + '/' + ${param.daysAboveMaxValue}"></td>
            <td th:text="${#strings.substring(param.firstLogDate, 0, 10)}"></td>
            <td th:text="${#strings.substring(param.lastLogDate, 0, 10)}"></td>
            <td th:text="${param.missedDays} + ' (' + ${param.longestBreak} + ')'"></td>
            <td th:text="${param.logsCount}"></td>
            <td th:text="${T(com.healthrx.backend.api.internal.enums.TrendType).getTranslation(param.trend)}"></td>
        </tr>
    </table>
</div>

<div th:if="${activities != null}">
    <h2>Statystyki aktywnosci</h2>
    <div th:if="${activities.isEmpty()}">
        <h4>Brak danych do wyswietlenia</h4>
    </div>
    <table border="1" th:if="${not activities.isEmpty()}">
        <tr>
            <th>Aktywnosc</th>
            <th>Pierwsze wykonanie</th>
            <th>Ostatnie wykonanie</th>
            <th>Ilosc</th>
            <th>Suma w godzinach</th>
            <th>Czas trwania (najkrotszy / najdluzszy / sredni) [min]</th>
            <th>Tetno (min / max / sr)</th>
            <th>Spalone kalorie (min / max / sr)</th>
        </tr>
        <tr th:each="activity : ${activities}">
            <td th:text="${activity.activity.name}"></td>
            <td th:text="${#strings.substring(activity.firstLogDate, 0, 10)}"></td>
            <td th:text="${#strings.substring(activity.lastLogDate, 0, 10)}"></td>
            <td th:text="${activity.logsCount}"></td>
            <td th:text="${#numbers.formatDecimal(activity.hoursCount, 1, 2)}"></td>
            <td th:text="${activity.minDuration} + ' / ' + ${activity.maxDuration} + ' / ' + ${#numbers.formatDecimal(activity.avgDuration, 1, 2)}"></td>
            <td th:text="${activity.minHeartRate != null ? activity.minHeartRate + ' / ' + (activity.maxHeartRate != null ? activity.maxHeartRate : '-') + ' / ' + (#numbers.formatDecimal(activity.avgHeartRate, 1, 2) != null ? #numbers.formatDecimal(activity.avgHeartRate, 1, 2) : '-') : '-'}"></td>
            <td th:text="${activity.minCaloriesBurned != null ? activity.minCaloriesBurned + ' / ' + (activity.maxCaloriesBurned != null ? activity.maxCaloriesBurned : '-') + ' / ' + (#numbers.formatDecimal(activity.avgCaloriesBurned, 1, 2) != null ? #numbers.formatDecimal(activity.avgCaloriesBurned, 1, 2) : '-') : '-'}"></td>
        </tr>
    </table>
</div>
</body>
</html>
