:host {
  .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

    mat-form-field {
      width: 100%;
    }
  }

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .info-container {
    display: flex;
    align-items: baseline;
    gap: 1rem;

    mat-form-field {
      width: calc(100% - 145px - 1rem);
    }

    .time-picker {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: calc(100% - 145px - 1rem);
      position: relative;

      mat-form-field {
        width: 50%;
      }
    }

    mat-slide-toggle {
      margin-bottom: 1rem;
    }

    p {
      width: 145px;
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    .info-container {
      .time-picker {
        flex-direction: column;
        gap: 0;

        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  :host {
    .info-container {
      flex-direction: column;

      mat-form-field {
        width: 100%;
      }

      .time-picker {
        width: 100%;
      }
    }
  }
}
